# Dependencies
**/node_modules/
pnpm-lock.yaml
bun.lock
deno.lock
pnpm-workspace.yaml
package-lock.json
.venv

test-output/*
coverage/

# Logs
logs/
*.log
npm-debug.log*

# Build output
build/*.txt

# Environment variables
.env

# System files
.DS_Store
Thumbs.db
